<section class="panel">

    <div class="panel-body ">

        <div class="mail-header row">
            <div class="col-md-8">
                <h4 class="pull-left">{{ email.subject }}</h4>
            </div>

        </div>
        <div class="mail-sender">
            <div class="row">
                <div class="col-md-8">
                    <img :src="email.sender.avatar" alt="icon" class="img-circle" width="38">
                    <span>{{ email.sender.full_name }}</span>
                    ({{ email.sender.email }}) to
                    <span>me</span>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <p class="date">11:15AM 01 Jan 2015</p>
                </div>
            </div>
        </div>
        <div class="view-mail">
            {{ email.message }}
        </div>

        <hr />


    </div>
</section>

<router-view></router-view>