<section class="panel">
    <div class="panel-body ">
        <validator name="validation" v-if="loaded">
            <form method="post" role="form" novalidate @submit.prevent="sendMail">
                <div class="mail-header">
                    <h3>Compose Message</h3>
                </div>


                <div class="form-group">
                    <label for="to">Recipients:</label>

                    <select name="team_leader"
                            v-select="data.recipients"
                            :options="staff"
                            multiple
                            data-placeholder="Select recipients"
                            style="width: 100%">
                    </select>
                </div>

                <div class="form-group">
                    <label for="email-template">Email Template:</label>

                    <select class="form-control"
                            v-select="data.emailTemplate"
                            :options="emailTemplates"
                            id="email-template"
                            data-placeholder="Select email template"
                            style="width: 100%">
                        <option value="">Select</option>
                    </select>

                </div>

                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <input type="text"
                           class="form-control"
                           v-model="data.subject"
                           id="subject"/>
                </div>

                <div class="form-group">
                    <label for="subject">Message:</label>

                    <textarea class="textarea tex-com form-control"
                              v-model="data.message"
                              rows="10" placeholder="Place some text here"></textarea>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-info btn-block ">
                            <span>Send</span>
                        </button>
                    </div>
                </div>
            </form>
        </validator>
    </div>
</section>