<section class="panel">
    <div class="panel-body ">

        <div class="mail-box-header" v-if="loaded">
            <form method="post" role="form" class="pull-right mail-search" @submit.prevent="loadMails">
                <div class="input-group">
                    <input type="text"
                           v-model="data.query"
                           class="form-control input-sm" name="search" placeholder="Search email">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-primary">Search</button>
                        <!--<a href="#" @click.prevent="search" class="btn btn-sm btn-primary">search</a>-->
                    </div>
                </div>
            </form>
            <h2>Inbox</h2>
        </div>
        <div class="mail-option">
            <div class="btn-group pull-left table-bordered paddingrightleft_10 paddingtopbottom_5px">
                <input type="checkbox" id="checkall" v-model="selectedAll">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu ul">
                    <!-- dropdown menu links -->
                    <li>
                        <a href="#" @click.prevent="selectAllRead">Read</a>
                    </li>
                    <li>
                        <a href="#" @click.prevent="selectAllUnRead">UnRead</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a @click.prevent="loadMails()" data-original-title="Refresh" data-placement="top"
                   data-toggle="dropdown"
                   href="#"
                   class="btn mini tooltips">
                    <i class=" fa fa-refresh"></i>
                </a>
            </div>
            <div class="btn-group hidden-phone">
                <a data-toggle="dropdown" href="#" class="btn mini blue">
                    More
                    <i class="fa fa-angle-down "></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" @click.prevent="markAsRead">
                            <i class="fa fa-pencil"></i>
                            Mark as Read
                        </a>
                    </li>

                    <li class="divider"></li>
                    <li>
                        <a href="#" @click.prevent="deleteSelected">
                            <i class="fa fa-trash-o"></i>
                            Delete
                        </a>
                    </li>
                </ul>
            </div>

            <ul class="unstyled inbox-pagination">

            </ul>

        </div>
        <div class="mail-box">
            <div class="table-responsive">
                <table class="table" id="inbox-check">
                    <tbody>
                    <tr data-messageid="1" class="unread" v-for="mail in mails" :class="{'read' : mail.read }">
                        <td class="inbox-small-cells">
                            <div class="checker">
                        <span>
                            <input type="checkbox" v-model="mail.selected">
                        </span>
                            </div>
                        </td>
                        <td class="view-message hidden-xs">
                            <a v-link="{ name: 'inbox', params: { id: mail.id } }">
                                <img :src="mail.sender.avatar" width="27" height="27"
                                     class="img-circle img-responsive pull-left" alt="Image">{{ mail.sender.full_name }}</a>
                        </td>
                        <td class="view-message ">
                            <a v-link="{ name: 'inbox', params: { id: mail.id } }">{{ mail.subject }}</a>
                        </td>

                        <td class="view-message text-right">
                            <a v-link="{ name: 'inbox', params: { id: mail.id } }">{{ mail.created_at | date }}</a>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <div v-if="'email_count === 0'">
                    No Mails
                </div>
            </div>
        </div>

    </div>
</section>

<style>
    .read {
        background-color: whitesmoke;
        color: grey;
    }
</style>