#mail-menu .mail-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

#mail-menu .panel .panel-body {
    border: 1px solid #e7e7e7;
}
#mail-menu .mail-option .chk-all, .mail-option .btn-group {
    margin-right: 5px;
}
#mail-menu .mail-option .btn-group a.all {
    padding: 0;
    border: none;
}
#mail-menu .mail-option .chk-all, .mail-option .btn-group a.btn {
    border: 1px solid #e7e7e7;
    padding: 6px 12px;
    display: inline-block;
    color: #666;
}
#mail-menu ul.inbox-pagination {
    float: right;
    list-style-type: none;
}
#mail-menu .inbox-pagination li span {
    display: inline-block;
    margin-top: 7px;
    margin-right: 5px;
}
.inbox-pagination a.np-btn {
    margin-left: 5px;
}
#mail-menu .inbox-pagination a.np-btn {
    border: 1px solid #e7e7e7;
    padding: 5px 15px;
    display: inline-block;
    background: #fcfcfc;
    color: #afafaf;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
}
#mail-menu ul.inbox-pagination li {
    float: left;
}

.btn-danger {
    background-color: #fc6e51 !important;
    color: #fff;
}
#inbox-check tr td a {
    display: block;
    color: #666;
}
#inbox-check tr td .col {
    color: #d5d5d5;
}
.view-message img {
    margin-right: 10px;
    margin-top: -5px;
}

.mail-search {
    max-width: 300px;

}

.mail-box-header {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 5px 5px 5px;
    font-weight: 600;
}

#mail-menu .nav-pills > li.active > a, #mail-menu .nav-pills > li.active > a:hover, #mail-menu .nav-pills > li.active > a:focus {
    color: #fff !important;
    background-color: #5D9CEC;
}
#mail-menu .nav-pills>li>a {
    border-radius: 0;
    color: #666;
    text-align: left;
}
.mail-compose {
    padding: 30px;
    margin-bottom: 30px;
}

/*summer note */
.note-editor{
    padding-left:1px;
}
.note-editable{
    width:100%;

}
.note-editor .panel-heading {
    padding:auto;
}
.well{
    margin-bottom:0;
}
/*end */
#inbox-check h3{
    margin-top: -5px;
    margin-bottom: 10px;
}
.mar-bat{
    padding-bottom: 10px;
}
.editor {
    margin-bottom: 20px;
}
.attachment-mail ul li a.atch-thumb img {

    margin-bottom: 10px;
}
.attachment-mail ul li {
    float: left;
    width: 200px;
    margin-right: 15px;
    margin-top: 15px;
    list-style: none;
}
.mail-sender, .attachment-mail {
    width: 100%;
    display: inline-block;
    margin: 20px 0;
    border-top: 1px solid #EFF2F7;
    border-bottom: 1px solid #EFF2F7;
    padding: 10px 0;
}

/*new mail box css start*/

.list-group-item {
    border: none;
}

a.list-group-item:hover, a.list-group-item:focus, button.list-group-item:hover, button.list-group-item:focus {
    background-color: #FFCE54;
    color: #fff;
}

a.list-group-item.active {
    background-color: #FFCE54 !important;
    color: #fff;
}

.mail {
    display: block;
    padding: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #eee;
}

.mail:last-child {
    border-bottom: none;
}

.mail img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.mail-content {
    font-size: 14px;
    color: #333 !important;
    margin-top: 5px;
}

.mail-text {
    color: #777;
}

.user_img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 10px;
}

/*reply section css*/
#reply span {
    border-bottom: 1px solid #333;
    cursor: pointer;
}
#AddSession{
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    background-color: red;
}